.menu{
	border: 2px solid black;
	margin-right: 20px;
	}

.photos{
	border: 2px solid black;
}

img{
	height:70px;
	width:70px;
	margin-left: 17px;
}

.products{
	/*margin: 10px;*/
	width: 150px;
	height: 150px;
}

.links {
	margin-top: 22px;
	display:block;
}

#first_link {
	margin-left: 190px;
}

p{
	display: inline-block;
}

.display{
	display: inline-block;
	margin-bottom: 15px;
}

label{
	display: inline-block;
}

.navleft{
	border: 2px solid black;
}