/*CSS for the index page of the website*/
.menu{
	border: 2px solid black;
	margin-right: 20px;
	}

.photos{
	border: 2px solid black;
}
 
/*size of our div for each product*/
.products{
	width:19.6%;
}

/*specifies the height and width of each image on our page*/
img{
	width:100px;
	height: 100px;
}

.links {
	margin-top: 22px;
	display:block;
}

.display{
	display: inline-block;
	margin-bottom: 15px;
}

label{
	display: inline-block;
}

.navleft{
	border: 2px solid black;
}
